<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link type="text/css" href="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></link>
    <link rel="stylesheet" type="text/css" href="../../../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">


</head>
<body ng-app="app">
    <ui-view/>
    <script type="text/javascript" src="../config/app.js"></script>
    <script type="text/javascript" src="../controller/page1Controller.js"></script>
    <script type="text/javascript" src="../controller/page2Controller.js"></script>

    <script type="text/javascript" src="../config/app.routes.js"></script>

</body>
</html>