<style>
    form .ng-invalid.ng-dirty { background-color: red; }
    form .ng-valid.ng-dirty { background-color: lightgreen; }
    form .warning-text{color: red;}
</style>
<div class="container">
<form class="form-horizontal"  name="userForm" ng-submit="register()" novalidate >
<fieldset>
    <div >
        <legend class="">Page2</legend>
    </div>
    <div class="control-group">
        <!-- name -->
        <label class="control-label" for="name">name</label>
        <div class="controls">
            <input type="text"  name="name" ng-model="user.name" minlength="4" maxlength="10">
            
            <p class="help-block" ng-show="userForm.name.$pristine">Please enter userName</p>
            <p class="help-block warning-text" ng-show="userForm.name.$invalid">Should be not null and between 4 to 10 characters</p>
        </div>
    </div>
    <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password" >Password</label>
        <div class="controls">
            <input type="password"  name="password" ng-model="user.password" minlength="4" maxlength="10">
            <p class="help-block" ng-show="userForm.password.$pristine">Please enter password</p>
            <p class="help-block warning-text" ng-show="userForm.password.$invalid">Should be not null and between 4 to 10 characters</p>
        </div>
    </div>

    <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
            <input type="email"  name="email"  ng-model="user.email">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="from_where">Where did you hear form us</label>

    <select name="channels"  ng-model="user.fromWhichChannel"
            ng-options="obj.value as obj.label for obj in fromWhichChannelOptions" class="form-control">
        <option value="">Where did you hear about us?</option>

    </select>
    </div>


    <div class="control-group">
        <label class="control-label" for="isSubscribleCheckBox">Do you want to hear from us?</label>

        <div class="controls">
        <input ng-model="user.isSubscrible" type="checkbox" name="isSubscribleCheckBox"
         value="true" class="checkbox-inline"/>
        </div>
        <p class="help-block warning-text" ng-show="!user.isSubscrible && isSent">You should check this before registering</p>

    </div>
    <div class="control-group">
        <!-- Button -->
        <div class="controls">
            <input type="submit" value="Register" class="btn btn-default">
        </div>
    </div>
</fieldset>
</form>


<h1 ng-show="isOk && userForm.$valid"> PASS !</h1>

<h1>Debug Area</h1>
<pre>
    {{user | json}}
</pre>

</div>